{% extends 'base.html.twig' %}
{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}

    {% block content %}
        <div class="container">
            <div class="row">
                <div class="box">
                    <div class="col-lg-12 text-center">
                        <div id="carousel-example-generic" class="carousel slide">
                            <!-- Indicators -->
                            <ol class="carousel-indicators hidden-xs">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="img-responsive img-full" src="{{ asset('build/img/slide-1.jpg') }}" alt="">
                                </div>
                                <div class="item">
                                    <img class="img-responsive img-full" src="{{ asset('build/img/slide-2.jpg') }}" alt="">
                                </div>
                                <div class="item">
                                    <img class="img-responsive img-full" src="{{ asset('build/img/slide-3.jpg') }}" alt="">
                                </div>
                                <div class="item">
                                    <img class="img-responsive img-full" src="{{ asset('build/img/slide-4.jpg') }}" alt="">
                                </div>
                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="icon-prev"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="icon-next"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            {% if form is defined and app.request.attributes.get('block') == 'home_block_1' %}
                <div class="row">
                    <div class="box">
                        <div class="col-lg-12">
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            {{ form_end(form) }}
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            {% else %}
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="row">
                        <a href="{{ path('content', {page: 'home', block: 'home_block_1'}) }}" class="btn btn-lg btn-block btn-success">Edit</a>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="box">
                        <div class="col-lg-12">
                            <hr>
                            <div class="intro-text text-center">
                                {{ content.home_block_1.title | default('') | raw }}
                            </div>
                            <hr>
                            <img class="img-responsive img-border img-left" src="{{ asset('build/img/intro-pic.jpg') }}"
                                 alt="">
                            <hr class="visible-xs">

                            {{ content.home_block_1.content | default('') | raw }}

                        </div>
                    </div>
                </div>
            {% endif %}
            {% if form is defined and app.request.attributes.get('block') == 'home_block_2' %}
                <div class="row">
                    <div class="box">
                        <div class="col-lg-12">
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            {{ form_end(form) }}
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            {% else %}
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="row">
                        <a href="{{ path('content', {page: 'home', block: 'home_block_2'}) }}" class="btn btn-lg btn-block btn-success">Edit</a>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="box">
                        <div class="col-lg-12">
                            <hr>
                            <div class="intro-text text-center">
                                {{ content.home_block_2.title | default('') | raw }}
                            </div>
                            <hr>

                            {{ content.home_block_2.content | default('') | raw }}

                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endblock %}

    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
