{% extends 'base.html.twig' %}
{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}

    {% block content %}
        <div class="container">

            <div class="row">
                <div class="box">
                    <div class="col-lg-12">
                        <hr>
                        <h2 class="intro-text text-center">
                            <a href="{{ path('clear_cache') }}">
                                <strong>{{ 'Clear cache' | trans }}</strong>
                            </a>
                        </h2>
                        <hr>
                        <h2 class="intro-text text-center">
                            <a href="{{ path('upload_image') }}">
                                <strong>{{ 'Images' | trans }}</strong>
                            </a>
                        </h2>
                        <hr>
                    </div>
                </div>
            </div>

        </div>
    {% endblock %}

    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
