{% extends 'base.html.twig' %}
{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}

    {% block content %}
        <div class="container">

            <div class="row">
                <div class="box">
                    {% for image in images %}
                        <div class="col-sm-4 text-center">
                            <img id="image-to-crop" style="width: 200px;height: 150px;position:relative;" class="img-responsive" src="/images/{{ image }}" alt="">
                            <small>/images/{{ image }}</small>
                            <br>
                            <a href="/images/{{ image }}">
                                <strong>{{ 'Open' | trans }}</strong>
                            </a>
                            <a id="remove_image" href="{{ path('remove_image', {name:  image }) }}">
                                <strong>{{ 'Remove' | trans }}</strong>
                            </a>
                            <a id="crop_image" href="#">
                                <strong>{{ 'Crop' | trans }}</strong>
                            </a>
                            <hr>
                        </div>
                    {% endfor %}
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="row">
                <div class="box">
                    <div class="col-lg-12">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div id="yourId"></div>
        </div>
    {% endblock %}

    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $( document ).ready(function() {
            $('#remove_image').on('click', function (e) {
                var result = confirm("Want to delete?");

                if (!result) {
                    e.preventDefault();
                }
            });


            var cropperOptions = {
                uploadUrl:'path_to_your_image_proccessing_file.php'
            };

            var cropperHeader = new Croppic('yourId', cropperOptions);
//             var el = document.getElementById('image-to-crop');
//             var resize = new Croppie(el, {
//                 viewport: { width: 100, height: 100 },
//                 boundary: { width: 300, height: 300 },
//                 showZoomer: false,
//                 enableResize: true,
//                 enableOrientation: true,
//                 mouseWheelZoom: 'ctrl'
//             });
//             resize.bind({
//                 url: 'demo/demo-2.jpg',
//             });
// //on button click
//             resize.result('blob').then(function(blob) {
//                 // do something with cropped blob
//             });

            // $('#image-to-crop').croppie();
        })
    </script>
{% endblock %}
