<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}Welcome!{% endblock %}</title>


        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('build/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('build/css/croppic.css') }}" rel="stylesheet">

        {% block stylesheets %}
            <!-- Custom CSS -->
            <link href="{{ asset('build/css/business-casual.css') }}" rel="stylesheet">
        {% endblock %}

        <!-- Fonts -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        {% block body %}
            {% block header %}
                <div class="brand">Peluqueros RV</div>
                <div class="address-bar">3481 Melrose Place | Beverly Hills, CA 90210 | 123.456.7890</div>

                <!-- Navigation -->
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                            <a class="navbar-brand" href="index.html">Peluqueros RV</a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="{{ path('home') }}">{{ 'Home' | trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('about') }}">{{ 'About' | trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('blog') }}">{{ 'Blog' | trans }}</a>
                                </li>
                                <li>
                                    <a href="{{ path('contact') }}">{{ 'Contact' | trans }}</a>
                                </li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li>
                                        <a href="{{ path('admin') }}">{{ 'Admin' | trans }}</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container -->
                </nav>
            {% endblock %}

            {% block errors %}
                <div class="row">
                    <div class="box">
                        <div class="col-lg-12 text-center">
                            {% for message in app.flashes('notice') %}
                                <div class="alert alert-notice">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endblock %}

            {% block content %}

            {% endblock %}

            {% block footer %}
                {#<footer>#}
                    {#<div class="container">#}
                        {#<div class="row">#}
                            {#<div class="col-lg-12 text-center">#}
                                {#<p>Copyright &copy; Your Website 2014</p>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</footer>#}
            {% endblock %}

        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('build/js/jquery.js') }}"></script>
            <script src="{{ asset('build/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('build/js/croppic.min.js') }}"></script>

            <script src="{{ asset('build/js/ckeditor/ckeditor.js') }}"></script>
            <script>CKEDITOR.replace('content_title')</script>
            <script>CKEDITOR.replace('content_content')</script>

            https://cdnjs.cloudflare.com/ajax/libs/croppie/{version}/croppie.min.js

            <script>
                $('.carousel').carousel({
                    interval: 5000 //changes the speed
                })
            </script>
        {% endblock %}
    </body>
</html>
